<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>{{PROJECT}} | Local</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<style type="text/css">
		body {
			color: #666;
			font-family: "Open Sans",Arial,sans-serif;
			font-size: 18px;
			font-weight: 500;
			-moz-osx-font-smoothing: grayscale;
			line-height: 1.5em;
		}
		.wrapper {
			max-width: 400px;
			margin: 0 auto;
			text-align: center;
		}
		.wrapper header img {
			max-width: 200px;
			height: auto;
		}
	</style>
</head>
<body>
	<div class="wrapper">
		<header>
			<img src="simplon-occitanie.png" alt="Logo de Simplon Occitanie">
		</header>
		<main>
			Let's dev
		</main>
	</div>
</body>
</html>
